h1 { 
    color: rgb(52, 157, 192);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: lighter;
    font-variant: small-caps;
    font-style: normal;
}

p {
      /* font : italic normal bold 16px/18px helvetica,arial, san-serif; */
    color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 35px;
}

body
    {
        background-color: black;
    }

    /* background : color url() position repeat;
        background : black url(gambar/sao.jpg) center right no-repeat;
    */